html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #ec5600;
  --color-primary-dark: #db5000;
  --color-secondary: #4d592b;
  --color-secondary-dark: #414536;
  --color-secondary-light: #adb29e;
  --color-secondary-bright: #e2e4d9;
  --color-section-bg: #f5f5f1;
  --color-text: #172126;
  --color-footer-bg: #2c2f24;

  --radius: 12px;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.4;
  color: var(--color-text);
}

h1, h2 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-weight: 400;
  line-height: 1;
  font-size: 3.5rem;
}

h2 {
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.5rem;
}

h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

header {
  padding: 20px 0;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  height: 35px;
}

nav {
  display: inline-block;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.nav__link {
  text-decoration: none;
  color: var(--color-secondary-dark);
  padding: 10px 15px;
  border-radius: 100vh;
  font-size: 1.25rem;
  font-weight: 500;
  white-space: nowrap;
}

.nav__link:hover {
  background-color: var(--color-secondary-bright);
}

.container {
  max-width: 540px;
  padding: 0 20px;
  margin: 0 auto;
}

.hero__container {
  background-image: url(images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.125rem;
}

.hero__padding {
  padding: 30px 0;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  background-color: var(--color-primary);
  border-radius: 100vh;
}

.button:hover {
  background-color: var(--color-primary-dark);
}

.dishes__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 30px;
}

.dish__card {
  margin: 15px 0px;
  text-align: center;
  padding: 30px 20px;
  border-radius: var(--radius);
  border: 1px solid var(--color-secondary-bright);
  width: 100%;
  box-sizing: border-box;
}

.dish__card h3 {
  color: var(--color-secondary);
  margin: 20px 0;
}

.dish__card p {
  margin: 20px 0;
}

.dish__card a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
}

.dish__card a:hover {
  text-decoration: underline;
}

.dishes__title {
  margin: 40px 0;
  text-align: center;
}

.delivery__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0;
}

.delivery__photo img {
  max-width: 100%;
  border-radius: var(--radius);
}

.delivery__text {
  max-width: 100%;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-secondary-dark);
}

.delivery__text ul {
  list-style: none;
  font-weight: 600;
  color: var(--color-secondary);
  margin: 20px 0;
}

.delivery__text li {
  display: flex;
  align-items: center;
  margin: 15px 0 0 0;
}


.delivery__text img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.delivery__text h2 {
  margin: 30px 0;
}

.delivery__text p {
  margin: 30px 0;
}

.delivery__background {
  background-color: var(--color-section-bg);
  padding: 20px 0;
}

footer {
  background-color: var(--color-footer-bg);
  color: var(--color-secondary-light);
  padding: 40px 0;
}

footer a {
  color: var(--color-secondary-bright);
}

footer ul {
  list-style: none;
}

.footer__logo {
  height: 40px;
}

footer .adresa, .footer__menu, .copyright {
  margin: 20px 0;
}

.footer__menu {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}


/* tablet */ 
@media (min-width: 768px) and (max-width: 1099px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  .nav__link {
    padding: 10px 20px;
  }
  .container {
    min-width: 541px;
    max-width: 1100px;
  }
  header {
    padding: 20px 0;
  }
  .header__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  nav {
    margin-top: 0; 
  }
  .hero__container {
    padding: 120px 0;
    font-size: 1.25rem;
  }
  .button {
    padding: 20px 40px;
    font-size: 1.125rem;
  }
  .dishes__title {
    margin-top: 50px;
  }
  .dishes__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .dish__card {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    margin: 10px;
  }
  .delivery__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: stretch;
  }
  .delivery__photo {
    margin-right: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    width: 50%;
  }
  .delivery__photo img {
    height: auto;
    border-radius: var(--radius);
    width: auto;
    object-fit: cover;
    aspect-ratio: 3/4;
  }
  .delivery__text {
    max-width: 50%;
  }
  .delivery__text ul {
    font-size: 1.25rem;
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer__menu {
    display: flex;
    gap: 20px;
    margin-top: 0;
  }

}




/* desktop */
@media (min-width: 1100px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  .logo {
    height: 45px;
  }
  .nav__link {
    padding: 15px 30px;
  }
  .container {
    min-width: 541px;
    max-width: 1100px;
  }
  header {
    padding: 20px 0;
  }
  .header__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  nav {
    margin-top: 0; 
  }
  .hero__container {
    padding: 150px 0;
    font-size: 1.25rem;
  }
  .button {
    padding: 20px 40px;
    font-size: 1.125rem;
  }
  .dishes__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 20px;
    padding: 20px 0;
  }
  .dishes__title {
    margin: 50px 0 20px 0;
  }
  .dish__card {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
  }
  .delivery__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .delivery__photo {
    margin-right: 40px;
  }
  .delivery__photo img {
    max-width: 100%;
    border-radius: var(--radius);
  }
  .delivery__text {
    width: calc(80%);
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer__menu {
    display: flex;
    gap: 20px;
    margin-top: 0;
  }
}